---

---
<div class="w-full h-16 flex items-center px-4 shadow-md">
    <div class="w-3/4 flex justify-between mx-auto">
        <h3>Studio</h3>
        <h3>Studio</h3>
        <h1><a href="/">Logo !</a></h1>
        <h3>Studio</h3>
        <h3>Studio</h3>
    </div>
</div>