---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductList from "../components/ProductList.astro";

import { Heading } from "../components/Heading";

---
<BaseLayout>
    <main>
        <Heading/>
        <ProductList/>
    </main>
</BaseLayout>