---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProductList from "../components/ProductList.astro";
---
<BaseLayout>
    <main>
        <header>
            <div>
                <h1>Welcome to 0kb storefront!</h1>
            </div>
        </header>    
        <h1>Hello World!</h1>
        <ProductList/>
    </main>
</BaseLayout>